<%= button_to("Api Documentation", api_documentation_path, method: :get) %>
<%= button_to 'New Trip', new_trip_path,method: :get %>
<h1>Owned Trips</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Owner</th>
      <th>Assignee</th>
      <th>Estimated Arrival Time</th>
      <th>Estimated Completion Time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @all_owned_trips.each do |trip| %>
      <tr>
        <td><%= trip.id %></td>
        <td><%= trip.owner.name %></td>
        <td><%= trip.assignee.name if trip.assignee %></td>
        <td><%= trip.estimated_arrival_time %></td>
        <td><%= trip.estimated_completion_time %></td>
        <td style="color: <%= trip_status_color(trip) %>;">
          <%= trip.status %>
        </td>
       <% if trip.trip_owner_is_current_user?(current_user) %>
        <% if trip.status_Unstarted? || trip.status_Inprogress? %> 
        <td><%= button_to 'Update Trip', edit_trip_path(trip.id),method: :get %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Assigned Trips</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Owner</th>
      <th>Assignee</th>
      <th>Estimated Arrival Time</th>
      <th>Estimated Completion Time</th>
      <th>Check in Time</th>
      <th>Check out Time</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @all_assigned_trips.each do |trip| %>
      <tr>
        <td><%= trip.id %></td>
        <td><%= trip.owner.name %></td>
        <td><%= trip.assignee.name if trip.assignee %></td>
        <td><%= trip.estimated_arrival_time %></td>
        <td><%= trip.estimated_completion_time %></td>
        <td><%= trip.check_in_time %></td>
        <td><%= trip.check_out_time %></td>

        <td style="color: <%= trip_status_color(trip) %>;">
        <%= trip.status %>
        </td>

        <% if trip.trip_assignee_is_current_user?(current_user) %>
           <td><%= trip.status_Unstarted? ? button_to("Check In", check_in_trip_path(trip), method: :patch) : '' %></td>
           <td><%= trip.status_Unstarted? ? button_to("Reassign", reassign_trip_path(trip), method: :get) : '' %></td>
           <td><%= trip.status_Inprogress? ? button_to("Check Out", check_out_trip_path(trip), method: :patch) : '' %></td>
         <% end %> 

      </tr>
    <% end %>
  </tbody>
</table>


